p{
    /*text-indent: 15px;*/
    padding-left: 50px;
}

.img-responsive{
    height: auto;
    width: auto;
    max-height: 40px;
    max-width: 180px;
    vertical-align: middle;
}

h4, h5{
    padding-top: 20px;
    padding-left: 25px;
}

#body{
    padding-right: 25px;
}

.navbar {
    background-color: #ededed;
  }
  .navbar .navbar-brand {
    color: #5f5f60;
  }
  .navbar .navbar-brand:hover,
  .navbar .navbar-brand:focus {
    color: #000000;
  }
  .navbar .navbar-text {
    color: #5f5f60;
  }
  .navbar .navbar-text a {
    color: #000000;
  }
  .navbar .navbar-text a:hover,
  .navbar .navbar-text a:focus {
    color: #000000; 
  }
  .navbar .navbar-nav .nav-link {
    color: #5f5f60;
    border-radius: .25rem;
    margin: 0 0.25em;
  }
  .navbar .navbar-nav .nav-link:not(.disabled):hover,
  .navbar .navbar-nav .nav-link:not(.disabled):focus {
    color: #000000;
  }
  .navbar .navbar-nav .nav-item.active .nav-link,
  .navbar .navbar-nav .nav-item.active .nav-link:hover,
  .navbar .navbar-nav .nav-item.active .nav-link:focus,
  .navbar .navbar-nav .nav-item.show .nav-link,
  .navbar .navbar-nav .nav-item.show .nav-link:hover,
  .navbar .navbar-nav .nav-item.show .nav-link:focus {
    color: #000000;
    background-color: #ededed;
  }
  .navbar .navbar-toggle {
    border-color: #ededed;
  }
  .navbar .navbar-toggle:hover,
  .navbar .navbar-toggle:focus {
    background-color: #ededed;
  }
  .navbar .navbar-toggle .navbar-toggler-icon {
    color: #5f5f60;
  }
  .navbar .navbar-collapse,
  .navbar .navbar-form {
    border-color: #5f5f60;
  }
  .navbar .navbar-link {
    color: #5f5f60;
  }
  .navbar .navbar-link:hover {
    color: #000000;
  }
  
  @media (max-width: 575px) {
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
      color: #5f5f60;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #000000;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
      color: #000000;
      background-color: #ededed;
    }
  }
  
  @media (max-width: 767px) {
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
      color: #5f5f60;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #000000;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
      color: #000000;
      background-color: #ededed;
    }
  }
  
  @media (max-width: 991px) {
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
      color: #5f5f60;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #000000;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
      color: #000000;
      background-color: #ededed;
    }
  }
  
  @media (max-width: 1199px) {
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
      color: #5f5f60;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #000000;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
      color: #000000;
      background-color: #ededed;
    }
  }
  
  .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #5f5f60;
  }
  .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #000000;
  }
  .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #000000;
    background-color: #ededed;
  }